<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
</head>
<body>
   
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Totalplay</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

	</nav>
	<h1 class="col text-center"> Microservicios con Bus de Eventos</h1>
	
	<div class="container ml-0">
		<div class="row">
			<h2 class="col text-center">Consulta ONT</h2>
			<h2 class="col text-center">             </h2>
			<h2 class="col text-center">Consulta Tipo de Alarma</h2>
		</div>   
            
		<div class="row">
			<div class="col col-sm-5 border   border-success">
				<h4>Request</h4>
				<form th:action="@{/form}" th:object="${cliente}" method="post"
					class="d-grid gap-2">

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">serialNumber</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombre}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
						<div class="col-sm-3">
							<input type="submit" value="submit" class="btn btn-primary btn-sm" />
						</div>
						
                                                <br> 
                                                <label> Invoke getModelGetONT:</label>
                                                <label style="color: #62A2F5">http://10.213.8.248/TPESOASF/TProvisioning.asmx?wsdl</label>
                                                
                                                
					</div>
					<br> <input type="hidden" th:field="*{id}" />
				</form>
				<h4>Response</h4>
                          
                      
				<div class="row">
					<label class="col-sm-3">frame:</label> <input class="col-sm-6"
						th:value="${frame}">
				</div>
				<div class="row">
					<label class="col-sm-3">slot:</label> <input class="col-sm-6" th:value="${slot}">
				</div>
				<div class="row">
					<label class="col-sm-3">port:</label> <input class="col-sm-6" th:value="${port}">
				</div>
				<div class="row">
					<label class="col-sm-3">Olt:</label> <input class="col-sm-6" th:value="${olt}">
				</div>
				<div class="row">
					<label class="col-sm-3">ontID:</label> <input class="col-sm-6" th:value="${ontid}">
				</div>
				<div class="row">
					<label class="col-sm-3">ipOlt:</label> <input class="col-sm-6" th:value="${ipolt}">
				</div>
				<div class="row">
					<label class="col-sm-3">etiqueta:</label> <input class="col-sm-6" th:value="${etiqueta}">
				</div>
				<div class="row">
					<label class="col-sm-3">serialNumber:</label> <input class="col-sm-6" th:value="${sn}">
				</div>
                                
                                <br>
                                <br>
                                <br>    

                
                                <div class="col-md-9 " style="margin: auto">
                                 
                                <h6 align="center" style="color:#0D0D0D" > 
                                    <label  style="font-size: 20px;" >publish Channel  <label style="color: #499556; font-size: 22px;">  'channel-typealarm'  </label> </label> 
                                </h6>
                                    
                                  
                                    <label>Body</label>
                                    <div class="border   border-warning ">

                                            {<br>
                                            &nbsp;&nbsp; <label class="text-danger" >"frame"</label>:<label class="text-primary" th:text="${frame}"> ,</label> <br> 
                                            &nbsp;&nbsp;<label class="text-danger">"slot"</label>:<label class="text-primary" th:text="${slot}">,</label><br> 
                                            &nbsp;&nbsp;<label class="text-danger">"port"</label>:<label class="text-primary" th:text="${port}"> ,</label><br> 
                                            &nbsp;&nbsp;<label	class="text-danger">"Olt"</label>:<label class="text-primary"th:text="${olt}"> ,</label><br> 
                                            &nbsp;&nbsp;<label class="text-danger">"ontID"</label>:<label class="text-primary" th:text="${ontid}"> ,	</label><br> 
                                            &nbsp;&nbsp;<label class="text-danger">"ipOlt"</label>:<label class="text-primary" th:text="${ipolt}">,</label><br>
                                            &nbsp;&nbsp;<label class="text-danger">"etiqueta"</label>:<label class="text-primary" th:text="${etiqueta}">,</label><br>
                                            &nbsp;&nbsp;<label class="text-danger">"serialNumber"</label>:<label class="text-primary" th:text="${sn}"></label><br> 
                                            }


                                    </div> 
                                </div>
                                <br>

                                
                                
 
			</div>
			<div class="col col border d-grid gap-1 "> adap </div> 
			<div class="col col-sm-5 border d-grid gap-1 border-success">
				<div>

                                        <h6 align="center" style="color:#0D0D0D" > 
                                            <label  style="font-size: 20px;" >Subscribe Channel  <label style="color: #499556; font-size: 22px;">  'channel-typealarm'  </label> </label> 
                                        </h6>

					<h4>Request</h4>
                                        <label> invoke bpelGetPersonalAlarm:</label>
                                        <label style="color: #62A2F5">http://10.213.8.248/TprovisioningABCws/BPEL.asmx?wsdl"</label>
                                        
					<div class="row">
						<label class="col-sm-3">frame:</label> <input class="col-sm-6" th:value="${frame}">
					</div>
					<div class="row">
						<label class="col-sm-3">slot:</label> <input class="col-sm-6" th:value="${slot}">
					</div>
					<div class="row">
						<label class="col-sm-3">port:</label> <input class="col-sm-6" th:value="${port}">
					</div>
					<div class="row">
						<label class="col-sm-3">Olt:</label> <input class="col-sm-6" th:value="${olt}">
					</div>
					<div class="row">
						<label class="col-sm-3">ontID:</label> <input class="col-sm-6" th:value="${ontid}">
					</div>
					<div class="row">
						<label class="col-sm-3">ipOlt:</label> <input class="col-sm-6" th:value="${ipolt}">
					</div>
					<div class="row">
						<label class="col-sm-3">etiqueta:</label> <input class="col-sm-6" th:value="${etiqueta}">
					</div>
					<div class="row">
						<label class="col-sm-3">serialNumber:</label> <input class="col-sm-6" th:value="${sn}">
					</div>

                                          <br>
                                <br>   
                                
					<h4>Response</h4>
					<div class="row">
						<label class="col-sm-3">typeCut:</label> <input class="col-sm-6" th:value="${typecut}">
					</div>
					<div class="row">
						<label class="col-sm-3">descripción:</label> <input
							class="col-sm-6">
					</div>

                                        
                                <br>
                                <br>   
                                        <h6 align="center" style="color:#0D0D0D" > 
                                            <label  style="font-size: 20px;" >publish Channel  <label style="color: #499556; font-size: 22px;">  'type-alarm'  </label> </label> 
                                        </h6>
                                        
                                        
					<div class="form-control">

						{ <br> 
						<label class="text-danger">&nbsp;&nbsp;&nbsp;&nbsp;"typeCut"</label>: <label class="text-primary" th:text="${typecut}">,</label> <br> 
																										<!--  -->
						<label class="text-danger">&nbsp;&nbsp;&nbsp;&nbsp;"desc"</label>: <label class="text-primary" th:text="${desc}">,</label> <br> 
						}


					</div>

				</div>
			</div>
		</div>
                <br>
                <br>
                <br>
                
		<div class="row">
			<h4 class="col text-center">Cliente</h4>

		</div>
                
                
                

		<div class="row border d-grid gap-1 border-success col-md-5" style="margin:auto">
  
                    
                    <h6 align="center" style="color:#0D0D0D" > 
                        <label  style="font-size: 20px;" >Subscribe Channel  <label style="color: #499556; font-size: 22px;">  'type-alarm'  </label> </label> 
                    </h6>
                    <div class="row">
				<label class="col-sm-3">typeCut:</label> <input class="col-sm-6" th:value="${typecut}">
			</div>
			<div class="row">
				<label class="col-sm-3">descripción:</label> <input class="col-sm-6" >
			</div>


		</div>
                <br>
                <br>
                <br>    
                <br>
                <br>
                <br>
                
                
	</div>
        
        
        
</body>
</html>